<img onclick="SelectImage(this)" src="images/Attributes/Cups.svg" alt="Cups">
<img onclick="SelectImage(this)" src="images/Attributes/AdjustableStraps.svg" alt="Adjustable Straps">
<img onclick="SelectImage(this)" src="images/Attributes/FastDryingCups.svg" alt="Fast Drying Cups">
<img onclick="SelectImage(this)" src="images/Attributes/HighBack.svg" alt="High Back">
<img onclick="SelectImage(this)" src="images/Attributes/LiquidPushUp.svg" alt="Liquid Push-Up">
<img onclick="SelectImage(this)" src="images/Attributes/LowBack.svg" alt="Low Back">
<img onclick="SelectImage(this)" src="images/Attributes/NodeInTheNeck.svg" alt="Node In The Neck">
<img onclick="SelectImage(this)" src="images/Attributes/PushUp.svg" alt="Push Up">
<img onclick="SelectImage(this)" src="images/Attributes/RearClosure.svg" alt="Rear Closure">
<img onclick="SelectImage(this)" src="images/Attributes/RearClosureBikini.svg" alt="Rear Closure Bikini">
<img onclick="SelectImage(this)" src="images/Attributes/RemovableStraps.svg" alt="Removable Straps">
<img onclick="SelectImage(this)" src="images/Attributes/SoftCups.svg" alt="Soft Cups">
<img onclick="SelectImage(this)" src="images/Attributes/SuitableForPregnant.svg" alt="Suitable For Pregnant">
<img onclick="SelectImage(this)" src="images/Attributes/UnderWire.svg" alt="Underwire">
<img onclick="SelectImage(this)" src="images/Attributes/Support.svg" alt="Support">
