  <img onclick="SelectImage(this)" src="images/Sizes/70A.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/70B.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/70C.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/70D.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/70E.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/75A.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/75B.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/75C.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/75D.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/75E.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/75F.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/75g.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/80A.jpg" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/80H.jpg" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/80b.jpg" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/80c.jpg" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/80d.jpg" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/80e.jpg" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/80f.jpg" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/80g.jpg" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/85A.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/85B.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/85C.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/85D.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/85E.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/85F.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/85G.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/85H.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/90B.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/90C.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/90D.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/90E.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/90F.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/90G.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/90H.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/95B.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/95C.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/95D.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/95E.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/95F.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/95G.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/95H.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/100B.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/100C.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/100D.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/100E.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/100G.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/100H.png" alt="">
  <img onclick="SelectImage(this)" src="images/Sizes/105E.png" alt="">
